@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>Navbar example</h1>
            <p class="lead">Consumindo API de lotericas</p>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="MegaSena">Mega Sena</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="LotoFacil">Loto Fácil</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="Quina">Quina</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="LotoMania">Loto Mania</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="TimeMania">Time Mania</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="DuplaSena">Dupla Sena</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="Federal">Federal</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="Loteca">Loteca</a>
            <a class="btn btn-lg btn-primary" role="button" asp-controller="Home" asp-action="DiaDeSorte">Dia de Sorte</a>
        </div>
    </main>
</div>